body {
    font-family: 'Droid Sans',sans serif;
    background: url(rohitjha_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 15px;
        font-weight: bold;
}

.logo {
    position:fixed;
    right:20px;
    bottom:20px;
}

.social-menu{
    float: right;
    top: 0;
    color: #fff;
    font-size: 18px;
}

.social-menu li{
    text-decoration: none;
    display: inline-block;
}

.social-menu li:hover .twitter {
    border-radius: 3px;
    background-color: #4099ff;
    color: #fff;
    opacity: 1;
    text-decoration: none;

}

.social-menu li:hover .facebook {
    border-radius: 3px;
    background-color: #3b5999;
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.social-menu li:hover .pinterest {
    border-radius: 3px;
    background-color: #a00d14;
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.social-menu li:hover .github {
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    opacity: 1;
    text-decoration: none;
}
.social-menu li:hover .google-plus {
    border-radius: 3px;
    color: #d14836;
    background-color: #fff;
    opacity: 1;
    text-decoration: none;
}

.social-menu li:hover .linkedin {
    border-radius: 3px;
    background-color: #4099ff;
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.social-menu a{
    padding: 10px 10px 10px 10px;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

.social-menu i {
    padding-right: 10px;
}

.ca-menu{
    float: left;
    top: 0;
    color: #fff;
    font-size: 20px;
}
.ca-menu li{
    text-decoration: none;
    display: block;
    margin: 20px 0px;
}
.ca-menu a{
    padding: 10px 10px 10px 10px;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}
.ca-menu i {
    padding-right: 5px;
}
.ca-menu li:hover a {
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    opacity: 1;
    text-decoration: none;

}


